# Flask
FLASK_SECRET=guclu_bir_secret_key_yazin

# DB - docker-compose icindeki MySQL servisi
DB_HOST=db
DB_PORT=3306
DB_NAME=pbimonitor
DB_USER=pbimonitor
DB_PASSWORD=guclu_bir_sifre_yaz
DB_ROOT_PASSWORD=guclu_bir_root_sifre_yaz
